.popup__input-error_visible {
    min-height: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    color: #FF0000;
}