.header__line {
    width: 100%;
    max-width: 880px;
    height: 0px;
    margin: 0px;
    box-sizing: border-box;
    border: 1px solid #545454;
  }
  
  /*Расширение от 1024px до 1280px*/
  @media screen and (max-width: 1024px) {
    .header__line {
      max-width: 928px;
    }
  } 
  
  /*Расширение от 768px до 1024px*/
  
  /*Расширение от 320px до 768px*/
