.popup__form {
    margin-bottom: 37px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Расширение от 1024px до 1280px*/

/*Расширение от 768px до 1024px*/
        
/*Расширение от 320px до 768px*/
@media screen and (max-width: 661px) {
    .popup__form {
        margin-bottom: 25px;
    }   
}