.profile__add-button {
    width: 150px;
    height: 50px;
    margin-top: 35px;
    background: url(/Users/katelvova/Desktop/praktikum/dev/mesto/images/logo/plus_icon.svg) no-repeat;
    background-position: center;
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    cursor: pointer;
  }
  
  /*Расширение от 1024px до 1280px*/
  
  /*Расширение от 768px до 1024px*/
  
  /*Расширение от 320px до 768px*/
  @media screen and (max-width: 661px) {
    .profile__add-button {
        width: 282px;
        margin-top: 34px;
    }
  }

  .profile__add-button:hover {
    opacity: 0.6;
  }