.profile__description {
    margin: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 18px;
    line-height: 21.78px;
    font-weight: 400;
    text-align: left;
    border: none;
    box-sizing: border-box;
  }
  
  /*Расширение от 1024px до 1280px*/
  
  /*Расширение от 768px до 1024px*/
  
  /*Расширение от 320px до 768px*/
  @media screen and (max-width: 661px) {
    .profile__description {
        font-size: 14px;
        line-height: 16.94px;
        text-align: center;
    }  
  }