.popup__close-button {
    width: 32px;
    height: 32px;
    padding: 0;
    position: absolute;
    top: 145px;
    right: 385px;
    background: url(../../../images/logo/close_icon.svg);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
}

/*Расширение от 1024px до 1280px*/
@media screen and (max-width: 1247px) {
    .popup__close-button {
        top: 135px;
    }
}

@media screen and (max-width: 1246px) {
    .popup__close-button {
        top: 80px;
        right: 280px;
    }
}

/*Расширение от 768px до 1024px*/
@media screen and (max-width: 978px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        top: 90px;
        left: 551px;
    }
}
        
/*Расширение от 320px до 768px*/
@media screen and (max-width: 660px) {
    .popup__close-button {
        left: 481px;
    }
}

@media screen and (max-width: 500px) {
    .popup__close-button {
        left: 300px;
    }
    
}

@media screen and (max-width: 323px) {
    .popup__close-button {
        top: 100px;
        left: 281px;
    }
}

.popup__close-button:hover {
    opacity: 0.6;
}