@import url(../vendor/fonts/fonts.css);
/*Общий блок page*/
.page {
    max-width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    box-sizing: border-box;
    background-color: #000000;
}

/*Обертка page*/
.page__container {  
    max-width: 1280px;
    margin: 0 auto;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #000000;
    color: #FFFFFF;
  }
  
  @media screen and (max-width: 1024px) {
      .page__container {
          max-width: 1024px;
      }
  }
  
  @media screen and (max-width: 768px) {
      .page__container {
          max-width: 768px;
      }
  }
  
  @media screen and (max-width: 320px) {
      .page__container {
          max-width: 320px;
      }
  }

/*Блок header*/
/*Основной код для разрешения 1280px*/
.header {
    width: 68.75%;
    max-width: 880px;
    margin: 45px auto 36px auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
  }
  
  /*Расширение от 1024px до 1280px*/
  @media screen and (max-width: 1024px) {
    .header {
      width: 90.63%;
      max-width: 928px;
      margin: 28px auto 48px auto;
    }
  } 
  
  /*Расширение от 768px до 1024px*/
  @media screen and (max-width: 768px) {
    .header {
      width: 93.9%;
      max-width: 720px;
    }
  } 
  
  /*Расширение от 320px до 768px*/
  @media screen and (max-width: 320px) {
    .header {
      width: 100%;
      max-width: 320px;
      margin: 28px auto 38px auto;
    }
  }  

/*Блок header logo*/
/*Основной код для разрешения 1280px*/
.header__logo {
    width: 142px;
    height: 33px;
    margin-bottom: 41px;
    background-image: url(../images/logo/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    box-sizing: border-box;
  }

  .header__logo:hover {
    background-image: url(../images/logo/logo_active.svg);
  }
  
  /*Расширение от 1024px до 1280px*/
  
  /*Расширение от 768px до 1024px*/
  
  /*Расширение от 320px до 768px*/
  @media screen and (max-width: 320px) {
    .header__logo {
      width: 104px;
      height: 25px;
      margin: 0px 188px 31px 27px;
    }
  }  


/*Блок header line*/
/*Основной код для разрешения 1280px*/
.header__line {
    width: 100%;
    height: 0px;
    margin: 0px;
    box-sizing: border-box;
    border: 1px solid #545454;
  }
  
  /*Расширение от 1024px до 1280px*/
  
  /*Расширение от 768px до 1024px*/
  
  /*Расширение от 320px до 768px*/









